In [27]:
%matplotlib inline

In [28]:
import xlrd, xlwt
import re
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use('ggplot')

In [29]:
input_book = xlrd.open_workbook('social_demographic.xls')
input_sh = input_book.sheet_by_index(0)
output_book = xlwt.Workbook()
output_sh = output_book.add_sheet('Data')

In [30]:
i = 0
for rx in range(input_sh.nrows):
    if input_sh.cell_value(rx, 1):
        output_sh.write(i, 0, input_sh.cell_value(rx,1))
        for cx, cell in enumerate(input_sh.row(rx)[2:]):
            if cell.ctype in [0,1,6]:
                if cell.value not in ['...', 'â€¦', '-', '']:
                    s = cell.value
                    s = re.sub('[) ]', '', s)
                    s = re.sub('[,]', '.', s)
                    output_sh.write(i, cx+1, float(s))
            else:
                output_sh.write(i, cx+1, cell.value)
        i += 1

In [31]:
output_book.save('social_demographic_processed.xls')

In [32]:
data = pd.read_excel('social_demographic_processed.xls', header=0, index_col=0).dropna(axis=0, how='all').transpose()

In [33]:
data['consumer_price_index_1995'] = data['consumer_price_index'][4:] / 100
data['consumer_price_index_1995'][1995] = 1
data['consumer_price_index_1995'] = data['consumer_price_index_1995'].cumprod()

In [34]:
data['average_monthly_pension_indexed_kzt'] = data['average_monthly_pension_kzt'] / data['consumer_price_index_1995']
data['minimum_monthly_pension_indexed_kzt'] = data['minimum_monthly_pension_kzt'] / data['consumer_price_index_1995']
data['average_nominal_income_per_person_indexed_kzt'] = data['average_nominal_income_per_person_kzt'] / data['consumer_price_index_1995']
data['average_monthly_nominal_wage_indexed_kzt'] = data['average_monthly_nominal_wage_kzt'] / data['consumer_price_index_1995']
data['minimum_wage_indexed_kzt'] = data['minimum_wage_kzt'] / data['consumer_price_index_1995']

In [35]:
ed1 = pd.read_excel('middle_education_ratio.xls', header=0, index_col=0).transpose()
ed2 = pd.read_excel('higher_education_ratio.xls', header=0, index_col=0).transpose()
ed3 = pd.read_excel('elementary_education_ratio.xls', header=0, index_col=0).transpose()

In [36]:
hc = pd.read_excel('healthcare.xls', header=0, index_col=0).transpose()

In [37]:
merged = pd.concat([data, ed1, ed2, ed3, hc], axis=1)

In [38]:
merged

Year,population,expected_life_length_all,expected_life_length_men,expected_life_length_women,birth_rate_1000,death_rate_1000,child_death_rate_1000,mother_death_rate_1000,natural_population_increase,natural_population_increase_1000,...,minimum_wage_indexed_kzt,middle_education_ratio_total,middle_education_ratio_women,middle_education_ratio_men,higher_education_ratio_total,higher_education_ratio_women,higher_education_ratio_men,elementary_education_ratio_total,number_of_doctors_all_specs_k,number_of_paramedical_staff_k
1991,16358.222,67.60,62.60,72.40,21.50,8.20,27.30,67.2,218850.0,13.30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,65.1,198.9
1992,16451.711,67.40,62.40,72.30,20.50,8.40,25.90,76.8,200094.0,12.10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,66.4,196.3
1993,16426.478,65.40,60.10,70.80,19.30,9.50,28.10,62.8,159412.0,9.80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,64.5,189.5
1994,16334.865,64.90,59.70,70.30,18.90,9.90,27.10,69.4,145285.0,9.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,61.1,177.7
1995,15956.667,63.50,58.00,69.40,17.50,10.70,27.00,77.3,107469.0,6.80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,60.1,168.4
1996,15675.819,63.60,58.00,69.70,16.30,10.70,25.40,69.4,87147.0,5.60,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,57.9,150.1
1997,15480.635,64.00,58.40,69.90,15.20,10.40,24.90,76.9,72218.0,4.80,...,2449.089679,NaN,NaN,NaN,NaN,NaN,NaN,NaN,54.5,129.5
1998,15188.174,64.50,59.00,70.40,14.80,10.20,21.60,77.5,68066.0,4.60,...,2548.110088,NaN,NaN,NaN,NaN,NaN,NaN,NaN,53.2,120.4
1999,14955.106,65.63,60.60,70.90,14.57,9.87,20.40,65.3,70162.0,4.70,...,1975.645544,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50.6,110.4
2000,14901.641,65.45,60.20,71.20,14.92,10.06,18.80,60.9,72276.0,4.80,...,2124.291903,91.35,92.55,90.18,37.76,41.29,34.32,99.958811,49.0,106.6
2001,14865.610,65.76,60.50,71.30,14.91,9.95,19.10,48.6,73611.0,5.00,...,2289.988194,91.40,92.66,90.13,43.06,47.89,38.37,99.387227,51.3,109.4
2002,14851.059,65.95,60.70,71.60,15.29,10.05,17.00,50.5,77790.0,5.20,...,2225.328859,96.30,97.47,95.07,49.20,55.82,42.78,99.440207,53.7,113.4
2003,14866.837,65.74,60.50,71.50,16.63,10.41,15.60,42.1,92669.0,6.20,...,2244.258002,97.50,98.40,96.62,50.85,59.08,42.84,99.545501,54.6,115.0
2004,14951.200,66.06,60.60,72.00,18.19,10.14,14.50,36.9,120778.0,8.10,...,2225.974414,99.10,100.04,98.10,55.60,65.18,46.29,99.550597,54.8,117.0
2005,15074.767,65.86,60.30,71.80,18.42,10.37,15.20,40.5,121856.0,8.00,...,2294.643942,101.20,102.16,100.35,57.16,66.71,47.87,99.251288,55.5,119.6
2006,15219.291,66.15,60.60,72.00,19.71,10.27,13.91,45.6,144546.0,9.40,...,2960.183243,102.30,103.26,101.41,55.75,65.06,46.69,99.266670,57.3,125.2
2007,15396.878,66.34,60.70,72.30,20.79,10.22,14.57,46.8,163666.0,10.60,...,2860.016019,103.50,104.43,102.57,52.50,61.12,44.11,99.218166,59.4,130.0
2008,15571.506,67.11,61.90,72.40,22.60,9.74,20.76,31.2,203869.0,12.90,...,3345.422986,110.20,111.83,108.70,49.33,56.65,42.23,99.486007,58.9,131.7
2009,15982.370,68.36,63.53,73.21,22.15,8.90,18.33,36.8,213140.0,13.24,...,3225.531067,103.00,104.09,101.90,49.60,56.66,42.73,99.537893,60.5,138.6
2010,16203.036,68.45,63.55,73.41,22.54,8.97,16.58,22.7,221572.0,13.57,...,3187.602217,100.54,101.69,99.43,49.50,55.33,43.63,99.625436,63.8,143.8
2011,16440.124,68.98,64.16,73.81,22.52,8.75,14.93,17.4,227857.0,13.77,...,3536.831786,101.60,102.60,100.58,53.14,59.70,46.62,99.463424,62.2,159.9
2012,16673.077,69.61,64.84,74.33,22.69,8.51,13.48,13.5,238125.0,14.18,...,3490.884562,102.40,103.72,101.08,53.39,60.15,49.16,99.335096,64.4,168.7
2013,16909.776,70.85,65.92,76.30,22.73,7.98,11.30,13.1,251277.0,14.75,...,3523.942947,103.47,104.92,102.10,50.90,57.23,46.09,99.310921,66.0,169.6
2014,17160.774,71.45,66.88,75.82,23.13,7.57,9.72,11.7,269061.0,15.56,...,3517.047188,103.55,104.57,102.57,48.37,54.70,42.26,99.878856,68.9,160.1
2015,17417.673,72.00,67.50,76.90,22.66,7.48,9.34,12.5,266372.0,15.18,...,3190.002077,103.78,105.66,101.98,48.44,53.86,43.22,99.650000,69.7,163.9
2016,17670.600,NaN,NaN,NaN,23.03,7.44,8.60,12.7,277567.0,15.59,...,3234.148382,105.76,106.24,105.30,51.14,57.29,45.24,99.220000,74.6,170.8

In [50]:
merged['hospital_beds_per_1000'] = (merged['hospital_beds_total']/merged['population'])*1000
merged['doctors_per_1000'] = (merged['number_of_doctors_all_specs_k']/merged['population'])*1000

In [51]:
merged.to_hdf('data.h5', key='social_demographic')